.homepage {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url('{{site.baseurl}}/assets/images/blue_mountain.jpg') no-repeat
    center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.centercontainer {
    width: 100%;
    height: 100%;
}


div.centercontainer a {
    margin: 0;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'sans-serif', cursive;
    font-size: 500%;

}



.navbar-brand-icon a img{
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}
