<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% if page.title %} {{page.title}} {% endif %}</title>
    <link href="{{site.baseurl}}/assets/css/main.css" rel = "stylesheet">
 </head>
<body class="default-background">
    <header>
        {% include navigation.html navclass="nav-default" %}
    </header>

    <section>
    	<div class="container default-bg">

         {{ content }}
        </div>

    </section>

	<footer>

	</footer>

    {% include scripts.html %}
</body>
</html>